<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>House Rules Calculator</title>  
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
	<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</h:head>

<h:body>
	<div class="jumbotron">
		<h1>House Rules Calculator</h1>
	</div>
	<form method="post" action="HouseRulesServlet">
		<label id="monthlyIncome">Monthly Income:</label><input type="text" name="monthlyIncomeTextBox" placeholder="enter your monthly income"/>
		<br/>
		<label id="monthlyDebitPayments">Monthly Debit Payments: </label><input type="text" name="monthlyDebitPaymentsTextBox" placeholder="enter your monthly debit payments"/>
		<br/>
		<input type="submit" id="submit" value="Calculate"/>
	</form>
</h:body>

</html>